{% extends 'base.html' %} {% load static %} {% block title %}캘린더{% endblock %} {% block extra_css %}
<style>
  body {
    text-align: center;
    font-family: Arial, sans-serif;
  }

  h1 {
    margin-top: 20px;
  }

  .calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px;
    max-width: 300px;
    margin: 0 auto;
  }

  .calendar-row {
    display: flex;
    gap: 10px;
  }
</style>
<link rel="stylesheet" href="{% static 'css/calendar.css' %}" />
{% endblock %} {% block content %}

<body>
  <div class="info"> 
    <div class="info1">
      <img src="{% static 'assets/img/logo1.png' %}" class="logo">
      <div class="info_text">와 함께한</div>
    </div>
     <div class="info_text"> 2024년의 추억을 확인해보세요</div>
  </div>
  <div class="calendar-container">
    {% for row in rows %}
    <div class="calendar-row">
      {% for day in row %} {% if day in answered_days %}
      <a href="javascript:void(0);" onclick="showAlert()" class="calendar-day">
        <div>{{ day }}</div>
        <img class="bell" src="{% static 'assets/img/bell_main.png' %}" /></label>
      </a>
      {% else %}
      <a href="{% url 'question_detail' day %}" class="calendar-day">
        <div>{{ day }}</div>
        <img class="bell bell_x" src="{% static 'assets/img/bell_main.png' %}" /></label>
      </a>
      
      {% endif %} {% endfor %}
    </div>
    {% endfor %}
  </div>
</body>
{% endblock %} {% block extra_js %}
<script>
  function showAlert() {
    alert("해당 날짜는 이미 답변을 작성했습니다.");
  }
</script>
{% endblock %}
