{% extends 'base.html' %} {% load static %} {% block title %}캘린더{% endblock %} {% block extra_css %}
<style>
  body {
    text-align: center;
    font-family: Arial, sans-serif;
  }

  h1 {
    margin-top: 20px;
  }

  .calendar-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    max-width: 300px;
    margin: 0 auto;
  }

  .calendar-row {
    display: flex;
    gap: 10px;
  }
</style>
<link rel="stylesheet" href="{% static 'css/calendar.css' %}" />
{% endblock %} {% block content %}

<div class="example-container">  <!-- body 태그를 div로 변경하고 클래스만 추가 -->
  <div class="info"> 
    <div class="info1">
      <img src="{% static 'assets/img/logo2.png' %}" class="logo">
      <div class="info_text">와 함께한</div>
    </div>
    <div class="info_text">2024년의 추억을 확인해보세요</div>
  </div>
  <div class="calendar-container">
    {% for row in rows %}
    <div class="calendar-row">
      {% for day in row %} {% if day in answered_days %}
      <a href="javascript:void(0);" onclick="showAlert()" class="calendar-day">
        <div>{{ day }}</div>
        <img class="bell" src="{% static 'assets/img/bell_main.png' %}" /></label>
      </a>
      {% else %}
      <a href="{% url 'question_detail' day %}" class="calendar-day">
        <div>{{ day }}</div>
        <img class="bell bell_x" src="{% static 'assets/img/bell_main.png' %}" /></label>
      </a>
      
      {% endif %}       {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %} {% block extra_js %}
<script>
  const today = new Date().getDate(); // 오늘 날짜 (일)
  const currentMonth = 12; // 12월로 고정

  document.querySelectorAll(".calendar-day").forEach((dayElement) => {
    const dayNumber = parseInt(dayElement.querySelector("div").textContent.trim()); // 날짜 숫자 추출

    if (dayNumber > today && currentMonth === 12) {
      // 이후 날짜 클릭 이벤트 제한
      dayElement.addEventListener("click", function (event) {
        event.preventDefault();
        alert("이후 날짜의 질문은 열람할 수 없습니다.");
      });
    }
  });

  function showAlert() {
    alert("해당 날짜는 이미 답변을 작성했습니다.");
  }
</script>
{% endblock %}