{% extends 'base.html' %} {% load static %} {% block title %}홈{% endblock %} {% block extra_css %}
<style>
    .home-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        overflow-y: auto;
    }

    .date-text {
        font-family: var(--main-font);
        font-size: 20px;
        margin: 60px 0 20px 0;
        text-align: center;
        color: #ffffff;
    }

    .d-day-text {
        font-family: var(--main-font);
        font-weight: 300;
        font-size: 64px;
        text-align: center;
        color: #ffffff;
    }

    .bell-image {
        width: 190px;
        height: auto;
        margin-top: 20px;
        margin-bottom: 30px;
        display: block;
    }

    .progress-container {
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }

    .progress-content {
        color: #ffffff;
        font-size: 16px;
        display: flex;           
        align-items: center;    
        justify-content: center; 
        gap: 5px;               
        margin-bottom: 10px;   
    }

    .id-text {
        color: #ffffff;
        font-size: 20px;
        text-shadow: 
                    0 0 10px rgba(255, 255, 255, 0.6),
                    0 0 30px rgba(255, 255, 255, 0.7),
                    0 0 50px rgba(255, 255, 255, 0.9);
    }

    .progress-bar {
        width: 80%;
        height: 25px;
        background-color: rgba(218, 218, 218, 0.4);  
        border-radius: 10px;
        overflow: hidden;
        margin: 10px auto;
        position: relative;
    }

    .progress-bar-fill {
        height: 100%;
        background-color: #FFD739;
        width: {{ progress_percentage }}%;
        position: relative;
        transition: width 0.3s ease;
    }

    .percentage-text {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #a24040;
        font-size: 14px;
        font-weight: bold;
        white-space: nowrap;
    }

    .total-text {
        font-size: 12px;
        color: white;
    }

    .button-container {
        width: 100%;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .bgm-button, .logout-button {
        font-family: var(--main-font);
        font-size: 16px;
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 5px 10px;
        transition: color 0.3s ease;
    }

    .bgm-button {
        color: var(--yellow);
    }

    .bgm-button-off {
        color: white;
    }

    .logout-button {
        color: white;
    }

    .sound-icon, .logout-icon {
        width: 20px;
        height: 20px;
    }

    .sound-icon {
        display: none;
    }

    .bgm-button .sound-on {
        display: block;
    }

    .bgm-button .sound-off {
        display: none;
    }

    .bgm-button.bgm-button-off .sound-on {
        display: none;
    }

    .bgm-button.bgm-button-off .sound-off {
        display: block;
    }

    .logout-icon {
        display: block;
    }

    button {
        padding: 5px 10px;
        border-radius: 10px;
        background: none;
        border: none;
        cursor: pointer;
        font-family: var(--main-font);
        font-size: 16px;
        font-weight: 1000;
    }

    button:hover {
        background-color: #dbdbdb2a;
    }

    .copy-text {
        text-align: center;
        padding-top: 54px;
        color: white;
        font-size: 10px;
        font-weight: medium;
        line-height: 20px;
    }

    .home-container::-webkit-scrollbar {
    width: 6px;
    }

    .home-container::-webkit-scrollbar-track {
        background: transparent;
    }

    .home-container::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.1);
        border-radius: 3px;
    }

    .logout-modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(4px);
        z-index: 1000;
    }

    .logout-modal-popup {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 280px;
        height: 133px;
        background-color: white;
        border: 1px solid #FFD739;
        border-radius: 15px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .modal-buttons {
        display: flex;
        gap: 20px;
        margin-top: 20px;
    }

    .modal-button {
        padding: 8px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-family: var(--main-font);
    }

    .confirm-button {
        background-color: #FFD739;
        border: none;
    }

    .confirm-button:hover {
        background-color: #FFE169;
    }

    .cancel-button {
        background-color: #f0f0f0;
        border: none;
    }
</style>
{% endblock %} {% block content %}
<div class="home-container">
    <div class="date-text">{{ today|date:"Y년 m월 d일" }}</div>
    <div class="d-day-text">D-{{ d_day }}</div>

    <a href="javascript:void(0)" id="bell-link">
        <img src="{% static 'assets/img/bell_main.png' %}" alt="벨 이미지" class="bell-image">
    </a>
    
    <div id="popupModal" class="logout-modal" style="display: none;">
        <div class="logout-modal-popup">
            <p id="popupMessage"></p>
            <button class="modal-button confirm-button" onclick="closePopup()">확인</button>
        </div>
    </div>    

    <div class="progress-container">
        <div class="progress-content">
            <div class="id-text">{{ username }}</div>님의 진행률
        </div>
        <div class="progress-bar">
            <div class="progress-bar-fill">
                <span class="percentage-text">{{ progress_percentage|floatformat:0 }}%</span>
            </div>
        </div>
        <p class="total-text">총 {{ total_questions }}일 중 {{ answered_count }}일 작성했어요!</p>
    </div>

    <div class="button-container">
        <button id="bgmButton" class="bgm-button" onclick="toggleBGM()">
            <img src="{% static 'assets/img/sound-on.png' %}" alt="sound on" class="sound-icon sound-on">
            <img src="{% static 'assets/img/sound-off.png' %}" alt="sound off" class="sound-icon sound-off">
            <span>{{ isPlaying|yesno:"BGM ON,BGM OFF" }}</span>
        </button>
        <img src="{% static 'assets/img/slash.svg' %}" alt="슬래시" class="slash-img">
        <button class="logout-button" onclick="showLogoutModal()">
            <img src="{% static 'assets/img/log-out.png' %}" alt="logout" class="logout-icon">
            <span>LOGOUT</span>
        </button>
    </div>

    <div class="logout-modal" id="logoutModal">
        <div class="logout-modal-popup">
            <p>로그아웃 하시겠어요?</p>
            <div class="modal-buttons">
                <a href="{% url 'logout' %}">
                    <button class="modal-button confirm-button">네</button>
                </a>
                <button class="modal-button cancel-button" onclick="hideLogoutModal()">아니요</button>
            </div>
        </div>
    </div>

    <div class="copy-text">Copyright &copy; 2024. 멋쟁이 사자처럼<br>
        4호선톤 3조 All rights reserved.</div>
    <br><br>
</div>
{% endblock %} {% block extra_js %}
<script>
    let isPlaying = {{ isPlaying|yesno:"true,false" }};
    let audio = new Audio("{% static 'assets/audio/bgm.mp3' %}");
    audio.loop = true;

    window.onload = function() {
        if (isPlaying) {
            audio.play();
        } else {
            document.getElementById('bgmButton').classList.add('bgm-button-off');
        }
    };

    function toggleBGM() {
        fetch("{% url 'toggle_bgm' %}").then(() => {
            isPlaying = !isPlaying;
            if (isPlaying) {
                audio.play();
                document.getElementById('bgmButton').classList.remove('bgm-button-off');
            } else {
                audio.pause();
                document.getElementById('bgmButton').classList.add('bgm-button-off');
            }
            updateButton();
        });
    }

    function updateButton() {
        const button = document.getElementById('bgmButton');
        const spanText = button.querySelector('span');
        spanText.textContent = isPlaying ? "BGM ON" : "BGM OFF";
    }

    window.onload = function() {
    const progressBar = document.querySelector('.progress-bar-fill');
    const percentageText = document.querySelector('.percentage-text');
    
    if (progressBar.offsetWidth < percentageText.offsetWidth) {
        percentageText.style.color = '#000000';  
        percentageText.style.left = '250%';  
        }
    };

    function showLogoutModal() {
        document.getElementById('logoutModal').style.display = 'block';
    }

    function hideLogoutModal() {
        document.getElementById('logoutModal').style.display = 'none';
    }

    document.addEventListener("DOMContentLoaded", () => {
        const bellLink = document.getElementById("bell-link");
        const popupModal = document.getElementById("popupModal");
        const popupMessage = document.getElementById("popupMessage");

        bellLink.addEventListener("click", () => {
            fetch("{% url 'home' %}", { headers: { "X-Requested-With": "XMLHttpRequest" } })
                .then(response => response.json())
                .then(data => {
                    if (data.status === "exists") {
                        // 답변이 존재하면 팝업창 표시
                        popupMessage.textContent = data.message;
                        popupModal.style.display = "block";
                    } else {
                        // 답변이 없으면 질문 상세 페이지로 이동
                        window.location.href = "{% url 'question_detail' today.day %}";
                    }
                });
        });
    });

    function closePopup() {
        document.getElementById("popupModal").style.display = "none";
    }
    
</script>
{% endblock %}