{% extends 'base.html' %}
{% load static %}

{% block title %}Decemo{% endblock %}

{% block content %}
<style>
    .container {
        margin-top: 68px;
        max-width: 320px;
    }

    .inform-text {
        font-family: var(--main-font);
        font-weight: 100;
        font-size: 18px;
        color: white;
        text-align: center;
        padding-top: 50px;
        margin-bottom: 30px;
        line-height: 30px;
    }

    .decemo-logo, #decemo-logo {
    font-family: var(--eng-font);
    color: #ffffff;
    text-shadow:
                0 0 8px rgba(255, 255, 255, 0.4),
                0 0 10px rgba(255, 255, 255, 0.3),
                0 0 30px rgba(255, 255, 255, 0.2),
                0 0 50px rgba(255, 255, 255, 0.2);
    font-size: 50px;
    text-align: center;
    }


    .bell-image {
        width: 129px;
        height: auto;
        margin: 0 auto;
        padding-top: 53px;
        padding-bottom: 52px;
    }

    .bell-image img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .login-div {
        border-radius: 13.5px;
        padding: 10.5px 60px;
        background-color: var(--yellow);
        text-align: center;        
    }

    .signup-div {
        padding-top: 9px;
        color: #ffffff;
        text-decoration: underline;
        font-size: 10px;
        text-align: center;
    }

    .button {
        border: none;
        text-decoration: none;
        color: inherit;
    }



</style>
<div class="container">
    <div class="inform-text">한 해를 마무리하는<br>가장 좋은 방법</div>
    <div class="decemo-logo" id="decemo-logo">DECEMO</div>
    <div class="bell-image">
        <img src="{% static 'assets/img/bell.png' %}" alt="벨 이미지">
    </div>
    <div class="login-div">
        <a href="{% url 'login' %}" class="button">로그인</a>
    </div>
    <div class="signup-div">
    <a href="{% url 'signup' %}" class="button">회원가입</a>
    </div>
</div>
{% endblock %}