{% extends 'base.html' %} {% load static %} {% block title %}회원가입{% endblock %} {% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
<link rel="stylesheet" href="{% static 'css/signup.css' %}" />

<script src="https://code.jquery.com/jquery-latest.js"></script>
<script src="{% static 'js/signup.js' %}" defer></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  var checkUsernameUrl = "{% url 'check_username' %}";
</script>

<body>
  <!-- 모달 창 -->
  <div class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <p style="font-size: 12px; color: black">중복되는 아이디입니다</p>
      <div class="pop_div" onClick="close_pop();">
        <span class="pop_bt" style="font-size: 12px"> 확인 </span>
      </div>
    </div>
  </div>
  <!-- 모달 창 -->

  <div class="container" style="width: 100%">
    <header>
      <div class="logo-div">
        <img src="{% static 'assets/img/logo.png' %}" />
      </div>
    </header>
    <form method="POST">
      {% csrf_token %}
      <div class="id-check">
        <input id="id_username" name="username" type="text" placeholder="아이디를 입력해주세요" maxlength="20" required />
        <button type="button" id="check-username" class="button">중복 확인</button>
      </div>

      <div class="password">
        <input id="id_password" name="password" type="password" placeholder="비밀번호를 입력해주세요" minlength="8" required />
        <p>*영문 / 숫자 포함 8글자 이상 입력해주세요</p>
      </div>

      <input id="id_password_confirm" name="password_confirm" type="password" placeholder="비밀번호를 다시 입력해주세요" minlength="8" required />
      <div id="username-check-msg"></div>
      <button id="login_btn" type="submit" class="button">회원가입</button>
    </form>

    <div class="err">
      {% for field in form %} {% for error in field.errors %}
      <p style="color: #ffd739">{{ error }}</p>
      {% endfor %} {% endfor %}
    </div>
  </div>
</body>

{% endblock %}
