:root {
    /* 색상 */
    --main-bg: #333333;
    --container-bg: #ffffff;
    --snow-color: #ffffff;
    --smoke-color: #e0e0e0;
    --yellow: #FFD52B;
    
    --container-width: 320px;
    --container-min-width: 320px;

    /* Z-index */
    --z-background: -10;
    --z-animations: -10;
    --z-content: 20;

    --nav-height: 83.5px;
    --z-navbar: 30;
    --nav-active-color: #FFD52B;
    --nav-inactive-color: #2A2A2A;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--main-bg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

.page-container {
    width: var(--container-width);
    height: 642px;
    background-image: url('/static/assets/img/background.png');
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
}

.content-container {
    box-sizing: border-box;
    z-index: var(--z-content);
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Navbar 스타일 */
.nav-box {
    width: var(--container-width);
    height: var(--nav-height);
    background-color: #ffffff;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 15px 0;
}

a.no-underline {
    text-decoration: none !important;
}

.icon-box {
    width: var(--container-width);
    display: flex;
    justify-content: center;
    gap: 100px;
}

.home-icon, .date-icon {
    width: 50px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}


.home-img {
    width: 27.5px !important;
    height: 27.5px !important;
}

.date-img {
    width: 25px !important;
    height: 25px !important;
}

.home-icon div, .date-icon div {
    font-family: "AppleSDGothicNeo-Regular", sans-serif;
    font-size: 12px;
    color: var(--nav-inactive-color);
}

.home-icon.active div, .date-icon.active div {
    color: var(--nav-active-color);
}