:root {
    /* 색상 */
    --main-bg: #333333;
    --container-bg: #ffffff;
    --snow-color: #ffffff;
    --smoke-color: #e0e0e0;
    --yellow: #FFD52B;
    
    --container-width: 320px;
    --container-min-width: 320px;

    /* Z-index */
    --z-background: 1;
    --z-animations: 10;
    --z-content: 20;

    --nav-height: 83.5px;
    --z-navbar: 30;
    --nav-active-color: #FFD52B;
    --nav-inactive-color: #2A2A2A;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--main-bg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-container {
    max-width: var(--container-width);
    width: 100%;
    height: 100vh; /* vh 단위로 변경 */
    max-height: 622px; /* 최대 높이 설정 */
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    background-image: url('/static/assets/img/background.png');
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    background-color: #ffffff;
}

/* 로그인된 상태일 때 */
.page-container.logged-in {
    height: calc(642px + var(--nav-height));
    background-size: 320px 642px;
    background-position: top center;
}

.content-container {
    box-sizing: border-box;
    z-index: var(--z-content);
    width: 100%;
    height: 642px; /* 컨텐츠 영역 높이 고정 */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (max-height: 700px) {
    .page-container {
        background-size: contain; /* 세로로 늘어나지 않도록 이미지 비율 유지 */
        background-position: center bottom; /* 배경 이미지를 네브바 위에 잘 맞추기 위해 위치 조정 */
    }
}


/* Navbar 스타일 */
.logged-in {
    padding-bottom: var(--nav-height);
}

.nav-box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--nav-height);
    background-color: #ffffff;
    z-index: var(--z-navbar);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 15px 0;
}

.icon-box {
    width: var(--container-width);
    display: flex;
    justify-content: center;
    gap: 100px;
}

.home-icon, .date-icon {
    width: 50px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.icon-img {
    width: 25px !important;
    height: 25px !important;
    object-fit: contain;
}

.icon-img.date-img {
    width: 27.5px !important;
    height: 27.5px !important;
}

.home-icon div, .date-icon div {
    font-family: "AppleSDGothicNeo-Regular", sans-serif;
    font-size: 12px;
    color: var(--nav-inactive-color);
}

.home-icon.active div, .date-icon.active div {
    color: var(--nav-active-color);
}