p {
  color: white;
  font-size: 10px;
  margin: 0;
}

.id-check {
  width: 80%;
  position: relative;
  margin-bottom: 2vw;
}

#id_username,
#id_password {
  width: 100% !important;
  margin-bottom: 0;
}

#check-username {
  position: absolute;
  bottom: 8px;
  right: 2px;
  width: 62px;
  height: 22px;
  border-radius: 13.46px;
  background-color: #dadada;
  color: #1a2d51;
  border: none;
  outline: none;
  font-size: 10px;
}

.password {
  width: 80%;
  margin-bottom: 2vw;
}

#id_password_confirm {
  background-color: transparent;
  outline: none;
  width: 80%;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 30%);
  padding: 0;
  margin-bottom: 2vw;
  color: white;
}

/* modal 창 */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 12%;
  border-radius: 15px;
  border: 1px solid #ffd739;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content p,
.pop_bt {
  font-size: 12px;
}

.modal-content p {
  margin-top: 20px;
}

.pop_div {
  width: 108px;
  height: 32px;
  cursor: pointer;
  background-color: #ffd739;
  text-align: center;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.err {
  display: flex;
  justify-content: center;
  align-items: center;
}
