{% load static %}
<div class="bottom-fixed-container">
    <div class="snowbill-container">
        <img src="{% static 'assets/img/snowbill.png' %}" alt="마을" class="snowbill">
    </div>

    <!-- 연기 효과 -->
    <div class="smoke-container">
        <div id="box">
            <div id="chimney-main">
                <div id="chimney-smoke-box">
                    <div id="chimney-smoke1" class="chimney-smoke"></div>
                    <div id="chimney-smoke2" class="chimney-smoke"></div>
                    <div id="chimney-smoke3" class="chimney-smoke"></div>
                    <div id="chimney-smoke4" class="chimney-smoke"></div>
                    <div id="chimney-smoke5" class="chimney-smoke"></div>
                    <div id="chimney-smoke6" class="chimney-smoke"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="nav-box">
        <div class="icon-box">
            <a href="{% url 'home' %}" class="no-underline">
                <div class="home-icon active">
                    <img src="{% static 'assets/img/home-ON.png' %}" alt="홈" class="icon-img home-img">
                    <div>홈</div>
                </div>
            </a>
            <a href="{% url 'calendar' %}" class="no-underline">
                <div class="date-icon">
                    <img src="{% static 'assets/img/date-OFF.png' %}" alt="날짜" class="icon-img date-img">
                    <div>캘린더</div>
                </div>
            </a>
        </div>
    </div>
</div>
        
        <script>
            // 클릭 이벤트 처리
            document.querySelector('.home-icon').addEventListener('click', function() {
                if(!this.classList.contains('active')) { // 이미 활성화 상태가 아닐 때만 실행
                    const img = this.querySelector('img');
                    const text = this.querySelector('div');
                    const dateIcon = document.querySelector('.date-icon');
                    const dateImg = dateIcon.querySelector('img');
                    const dateText = dateIcon.querySelector('div');
                    
                    // 홈 아이콘 및 텍스트 활성화
                    this.classList.add('active');
                    img.src = '/static/assets/img/home-ON.png';
                    text.style.color = '#FFD52B';
                    
                    // 데이트 아이콘 및 텍스트 비활성화
                    dateIcon.classList.remove('active');
                    dateImg.src = '/static/assets/img/date-OFF.png';
                    dateText.style.color = '#2A2A2A';
                }
            });

            document.querySelector('.date-icon').addEventListener('click', function() {
                if(!this.classList.contains('active')) { // 이미 활성화 상태가 아닐 때만 실행
                    const img = this.querySelector('img');
                    const text = this.querySelector('div');
                    const homeIcon = document.querySelector('.home-icon');
                    const homeImg = homeIcon.querySelector('img');
                    const homeText = homeIcon.querySelector('div');
                    
                    // 데이트 아이콘 및 텍스트 활성화
                    this.classList.add('active');
                    img.src = '/static/assets/img/date-ON.png';
                    text.style.color = '#FFD52B';
                    
                    // 홈 아이콘 및 텍스트 비활성화
                    homeIcon.classList.remove('active');
                    homeImg.src = '/static/assets/img/home-OFF.png';
                    homeText.style.color = '#2A2A2A';
                }
            });
        </script>
    </body>
</html>