<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/navbar.css">
</head>
<body>
<div class="nav-box">
    <div class="icon-box">
        <div class="home-icon active">
            <img src="{% static 'assets/img/home-ON.png' %}" alt="홈" class="icon-img">
            <div style="color: #FFD52B;">홈</div>
        </div>
        <div class="date-icon">
            <img src="{% static 'assets/img/date-OFF.png' %}" alt="날짜" class="icon-img">
            <div>캘린더</div>
        </div>
    </div>
</div>
</body>
</html>